@charset 'utf-8';

@import 'settings';
@import 'foundation';

@include foundation-global-styles;
@include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-visibility-classes;
@include foundation-button-group;
@include foundation-menu;
@include foundation-thumbnail;
@include foundation-top-bar;

$section-margin: $global-margin * 4;


.wf-loading * {
  visibility: hidden
}

.button {
    border: 0 ;
}
h1 {
  line-height: 1em;
  margin-bottom: .25em;
  font-weight: 600;
}
section {
    margin: 0;
}
.current-chapter {
  margin-bottom: $section-margin;
}

.medium-margin {
    margin-top: $global-margin * 2;
}
.large-margin {
    margin-top: $section-margin;
}

figure {
    margin:0;
}

nav a {
    text-decoration: none;
}
nav img {
    height: 1rem;
}
body {
  &.nightmode {
    background: $black;
    color: $white;
    h1, h2, h3, h4, h5, h6, a {
      color: $white;
    }
    blockquote {
      background: $black;
      color: $white;
    }
  }
}
article {
    margin-top: $global-margin;
}

blockquote {
    margin-top: $global-margin;
}

.ww-logo {
    margin: 0 1rem 0 1rem;
    font-size: 1.5rem;
    letter-spacing: -.5rem;
    color: white;
    font-family: $header-font-family;

}
.top-bar-title {
    background: $light-gray;
    text-align: center;
}
.ww-logo-1 {
    color: $medium-gray;
}
psychic {
  font-weight: bold;
  font-style: italic;
}
h1 {
  text-align: center;
  padding: .5em 0 0 0;
  text-transform: uppercase;
}
h2.subtitle {
  padding: 0;
  color: $dark-gray;
}
h5 {
  color: $dark-gray;
  text-align: center;
}
h2 {
  text-align: center;
  padding: 1.5em 0 1em 0;
}
h3 {
  padding: 1em 0 0 0;
}

.in-flashback {
  margin-top: $global-margin;

  figure {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 50vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;

    &.prologue {
      background-image: url(../images/study.jpg);
    }
    &.chapter1 {
      background-image: url(../images/yard.jpg);
    }
    &.chapter2 {
      background-image: url(../images/family-room.jpg);
    }
    &.chapter4 {
      background-image: url(../images/motel.jpg);
    }
    &.chapter7 {
      background-image: url(../images/waves.jpg);
    }
    &.chapter7-2 {
      background-image: url(../images/reading-room.jpg);
    }
  }
  h3 {
    color: white;
  }
  h4 {
    color: white;
    font-style: italic;
  }
  section {
    margin-top: 48vw;
  }
}
small {
  text-transform: uppercase;
}
blockquote {
  background: $light-gray;
  padding: 1rem;
  border: none;
  margin: $global-margin $global-margin * 2;
}
hr {
  width: 25%;
  margin: $global-margin * 2 auto;
}
.next-chapter-link {
  text-align: center;
  text-transform: uppercase;

}

/* Tarot styles */
div.deck figure {
  text-align: center;
  margin-bottom: 1em;
}
img.card {
  width: 200px;
}

/* Section animations */
.section-enter, .section-appear {
  opacity: 0.01;
}

.section-enter.section-enter-active, .section-appear.section-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.section-leave {
  opacity: 1;
}

.section-leave.section-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
